.error-container {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
}

.image {
    width: 100%;
    margin-top: 40px;
}

.image img {
    width: 50%;
}

.error-container p {
    font-weight: bold;
    margin: 20px;
    color: #4e5054;
}

.error-container .btn-list {
    margin-left: 20px !important;
}

@media only screen and (max-width: 640px) {
    .image img {
        width: 100%;
    }

    .error-container .btn-list {
        width: calc(100% - 40px);
    }
}