#user-list {
    height: 100%;
}

#user-list .card {
    height: calc(100% - 73px);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-title {
    color: white;
    font-size: 2rem;
}

.table-container {
    margin: 40px 20px 0 20px;
    height: calc(100% - 100px);
    overflow-y: auto;
}

.table {
    background-color: white;
}

.table td,
.table th {
    vertical-align: middle;
}

.btn-list {
    margin-right: 20px;
    margin-top: 20px;
    background-color: #2972a2;
    color: white;
}

#user-list a {
    text-decoration: none;
}

.table-responsive-md {
    display: table !important;
}

@media only screen and (max-width: 640px) {
    .card-title {
        font-size: 1.3rem;
        text-align: center !important;
        padding-top: 25px;
    }

    #user-list .btn-acept {
        width: 100% !important;
    }

    .table-container {
        margin-top: 20px !important;
    }

    #user-list .card {
        background-color: transparent;
    }

    .table td,
    .table th {
        font-size: .8rem;
    }

    .btn-list {
        margin-left: 20px;
        width: 100%;
    }
}